*{
    margin: 0;
    padding: 0;
}

header, footer{
    width: 100%;
    height: 10vh;
    background-color: purple;
    color: gold;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

section{
    padding-top: 1px;
    width: 100%;
    height: 80vh;
    background-color: #333333;
    color: white;
}

.form-group{
    margin: 15px 0;
}